body {
    background-color: #151419;
}

.gradualChangeBg {
    background:#bc3326;
    background:-moz-linear-gradient(left, #bc3326, #df4425);  
    background:-webkit-gradient(linear,left 0, right 0, from(#bc3326), to(#df4425));  
    background:-o-linear-gradient(left, #bc3326, #df4425);
}

/* banner */

.banner {
    width: 100%;
    height: 5.3rem;
    position: relative;
    display: flex;
    align-items: center;
}
.banner img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.banner .txt {
    text-align: center;
}
.banner .txt h3 {
    font-size: .36rem;
    color: #fff;
    line-height: .64rem;
    font-weight: bold;
    display: inline-block;
}
.banner .txt h3 i {
    width: .3rem;
    height: .22rem;
    display: inline-block;
}
.banner .txt h3 i.left-i {
    background: url(/images/about/why_icon.png) -36.1rem -1.54rem no-repeat;
    background-size: 36.4rem 4.39rem;
    margin-right: .23rem;
    vertical-align: text-top;
}
.banner .txt h3 i.right-i {
    background: url(/images/about/why_icon.png) -36.1rem -2.64rem no-repeat;
    background-size: 36.4rem 4.39rem;
    margin-left: .23rem;
    vertical-align: text-bottom;
}
.banner .txt p {
    width: 4.5rem;
    font-size: .28rem;
    color: #efefef;
    line-height: .5rem;
    margin-top: .4rem;
}

.box {
    width: 6.92rem;
    margin: 0 auto;
    display: block;
    padding: 0 .15rem;
    box-sizing: border-box;
    padding-top: .86rem;
}
.box span {
    font-size: .42rem;
    color: #de4425;
    display: block;
    margin-bottom: .48rem;
}
.box p {
    font-size: .26rem;
    color: #fff;
    line-height: .46rem;
}
.box i {
    width: 3.52rem;
    height: 4.39rem;
    display: block;
    margin: .28rem auto 0;
    background: url(/images/about/why_icon.png) 0 0 no-repeat;
    background-size: 36.4rem 4.39rem;
}
.box.b2 i {
    width: 4.88rem;
    background-position-x: -6.81rem;
}
.box.b3 i {
    width: 5.86rem;
    background-position-x: -13.81rem;
}
.box.b4 i {
    width: 4.78rem;
    background-position-x: -21.83rem;
}
.box.b5 i {
    width: 5.88rem;
    background-position-x: -28.77rem;
}

.b6 {
    margin-top: .87rem;
    height: 2.6rem;
    background: url(/images/about/b6_bg.jpg) no-repeat center;
    background-size: contain;
    padding: .33rem 0 .57rem;
    box-sizing: border-box;
    text-align: center;
}
.b6 span {
    font-size: .3rem;
    color: #fff;
    margin-bottom: .7rem;
    display: block;
}

.b6 a {
    width: 2rem;
    height: .7rem;
    border-radius: .04rem;
    -webkit-border-radius: .04rem;
    -moz-border-radius: .04rem;
    -ms-border-radius: .04rem;
    -o-border-radius: .04rem;
    border: 1px solid #fff;
    font-size: .26rem;
    line-height: .7rem;
    display: inline-block;
}
.b6 a.download-a {
    color: #fff;
}
.b6 a.register-a {
    color: #191818;
    background-color: #fff;
    margin-left: .56rem;
}

.contact {
    background-color: #2b2c30;
    padding-top: .6rem;
    color: #fff;
}

.contact h4 {
    font-size: .36rem;
    text-indent: .2rem;
    font-weight: bold;
}

.contact .line {
    padding: .36rem .2rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #383a3f;
}

.contact .line .title {
    font-size: .32rem;
    margin-bottom: .54rem;
    display: block;
}

.contact .line .title i {
    width: .47rem;
    height: .44rem;
    display: inline-block;
    margin-right: .24rem;
    vertical-align: -0.08rem;
    background: url(/images/about/contact_icon.png) 0 0 no-repeat;
    background-size: 6.1rem .44rem;
}

.contact .line.line-2 .title i {
    width: .35rem;
    background-position-x: -1rem;
}
.contact .line.line-3 .title i {
    width: .41rem;
    background-position-x: -1.91rem;
}
/* .contact .line.line-4 .title i {
    background-position-x: -1rem;
} */

.contact .line p {
    font-size: .26rem;
}

.contact .line p:not(:first-of-type) {
    margin-top: .28rem;
}

.contact .line.line-2 p,
.contact .line.line-5 p {
    font-size: .28rem;
    line-height: .5rem;
}

.contact .line.line-4 .title {
    float: left;
    margin-right: .62rem;
}

.contact .line.line-4 span {
    width: .44rem;
    height: .44rem;
    background: url(/images/about/contact_icon.png) -2.84rem 0 no-repeat;
    background-size: 6.1rem .44rem;
    float: left;
    margin-right: .27rem;
}

.contact .line.line-4 span.link-2 {
    background-position-x: -3.78rem
}
.contact .line.line-4 span.link-3 {
    width: .52rem;
    background-position-x: -4.68rem
}
.contact .line.line-4 span.link-4 {
    background-position-x: -5.66rem
}

.contact .line .form-box {
    margin-top: .37rem;
}

.contact .line .form-box input,
.contact .line .form-box textarea {
    width: 100%;
    height: .76rem;
    border: 0.01rem solid #44434a;
    background-color: #27262c;
    margin-bottom: .34rem;
    padding-left: .27rem;
    box-sizing: border-box;
    font-size: .28rem;
    color: #fff;
}

.contact .line .form-box textarea {
    height: 2.8rem;
    padding: .27rem;
    outline: none;
}

.contact .line .form-box input::-webkit-input-placeholder,
.contact .line .form-box textarea::-webkit-input-placeholder {
    color: #ddd;
    font-size: .28rem;
}

.contact .line .form-box input.warning,
.contact .line .form-box textarea.warning {
    border-color: #df4425;
}

.contact .line .form-box .submit-a {
    width: 2.15rem;
    height: .68rem;
    display: block;
    font-size: .28rem;
    color: #fff;
    line-height: .68rem;
    border-radius: .04rem;
    -webkit-border-radius: .04rem;
    -moz-border-radius: .04rem;
    -ms-border-radius: .04rem;
    -o-border-radius: .04rem;
    background:#bc3326; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(left, #bc3326, #df4425);  
    background:-webkit-gradient(linear,left 0, right 0, from(#bc3326), to(#df4425));  
    background:-o-linear-gradient(left, #bc3326, #df4425);
    text-align: center;
}