body {
    background-color: #151419;
}

.gradualChangeBg {
    background:#bc3326;
    background:-moz-linear-gradient(left, #bc3326, #df4425);  
    background:-webkit-gradient(linear,left 0, right 0, from(#bc3326), to(#df4425));  
    background:-o-linear-gradient(left, #bc3326, #df4425);
}

/* knowledge */
.know {
    padding-top: .3rem;
}
.know .slider-know {
    height: 2.2rem;
    padding: .3rem 0 .3rem .3rem;
    box-sizing: border-box;
    background-color: #252429;
    border-top: 1px solid #474550;
    border-bottom: 1px solid #474550;
    margin-bottom: .6rem;
}

.know .slider-know .swiper-slide {
    width: 1.64rem;
    height: 1.6rem;
    border-radius: .12rem;
    -webkit-border-radius: .12rem;
    -moz-border-radius: .12rem;
    -ms-border-radius: .12rem;
    -o-border-radius: .12rem;
    text-align: center;
    background-color: #19181d;
    -webkit-box-shadow: 1px 2px 15px rgba(0, 0, 0, .5); 
    -moz-box-shadow: 1px 2px 15px rgba(0, 0, 0, .5); 
    box-shadow: 1px 2px 15px rgba(0, 0, 0, .5);
}


.know .slider-know .swiper-slide.active {
    background-color: #dd4425;
}

.know .slider-know .swiper-slide i {
    display: block;
    width: .95rem;
    height: 1.03rem;
    margin: .15rem auto .01rem;
    background: url(../images/education/knowledge_icon.png) 0 0 no-repeat;
    background-size: 9.11rem 2.55rem;
}

.know .slider-know .swiper-slide.li-2 i {
    width: .88rem;
    background-position-x: -1.75rem;
}

.know .slider-know .swiper-slide.li-3 i {
    width: .46rem;
    background-position-x: -3.67rem;
}

.know .slider-know .swiper-slide.li-4 i {
    width: .98rem;
    background-position-x: -5.12rem;
}

.know .slider-know .swiper-slide.li-5 i {
    width: .75rem;
    background-position-x: -6.94rem;
}

.know .slider-know .swiper-slide.active i {
    background-position-y: -1.52rem;
}

.know .slider-know .swiper-slide span {
    font-size: .24rem;
    color: #fff;
    display: block;
}

.know .slider-content ul li {
    padding: .36rem .58rem .36rem .5rem;
    border-bottom: 1px solid #4c4957;
}

.know .slider-content ul li a {
    width: 100%;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.know .slider-content ul li a b {
    width: 5.7rem;
    font-size: .3rem;
    line-height: .52rem;
    color: #fff;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.know .slider-content ul li a i {
    width: .17rem;
    height: .28rem;
    display: inline-block;
    background: url(/images/education/knowledge_icon.png) -8.94rem -.38rem no-repeat;
    background-size: 9.11rem 2.55rem;
}

.know  .loading{
    width: .8rem;
    height: .4rem;
    margin: .57rem auto;
}
.know  .loading span{
    display: inline-block;
    width: .08rem;
    height: 100%;
    background:#bc3326;
    /*一些不支持背景渐变的浏览器*/background:-moz-linear-gradient(left, #bc3326, #df4425);
    background:-webkit-gradient(linear,left 0, right 0, from(#bc3326), to(#df4425));
    background:-o-linear-gradient(left, #bc3326, #df4425);
    -webkit-animation: load 1s ease infinite;
    animation: load 1s ease infinite;
    border-radius: .08rem;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    -ms-border-radius: .08rem;
    -o-border-radius: .08rem;
    box-sizing: border-box;
    border: 1px solid transparent;
}
@keyframes load {
    0%,100%{
        height: .4rem;
    }
    50%{
        height: .7rem;
        margin: -.15rem 0;
    }
}

@-webkit-keyframes load{
    0%,100%{
        height: .4rem;
    }
    50%{
        height: .7rem;
        margin: -.15rem 0;
    }
}
.know  .loading span:nth-child(2){
    -webkit-animation-delay:0.2s;
    animation-delay:0.2s;
}
.know  .loading span:nth-child(3){
    -webkit-animation-delay:0.4s;
    animation-delay:0.4s;
}
.know  .loading span:nth-child(4){
    -webkit-animation-delay:0.6s;
    animation-delay:0.6s;
}
.know  .loading span:nth-child(5){
    -webkit-animation-delay:0.8s;
    animation-delay:0.8s;
}

/* question */
.question {
    background-color: #2b2c30;
}
.question .question-nav {
    height: 1.1rem;
    background-color: #1e1d22;
    display: flex;
    align-items: center;
}

.question .question-nav ul {
    font-size: 0;
    text-align: center;
    position: relative;
}

.question .question-nav ul li {
    width: 24.5%;
    display: inline-block;
    border-left: 0.01rem solid #d1d1d1;
    font-size: .3rem;
    color: #fff;
}

.question .question-nav ul li:first-child {
    border-left: none;
}

.question .question-nav ul li.active {
    color: #dd4425;
}

.question .question-nav ul i {
    width: .5rem;
    height: .04rem;
    display: inline-block;
    background-color: #d73f23;
    position: absolute;
    bottom: -.15rem;
    left: 0.65rem;
}

.question .question-content ul {
    padding: .5rem 0 .37rem;
    display: none;
}

.question .question-content ul:first-child {
    display: block;
}

.question .question-content ul li {
    background-color: #27262c;
    margin-bottom: .2rem;
    padding: .26rem .82rem .38rem .3rem;
    box-sizing: border-box;
    position: relative;
    max-height: 1.02rem;
    overflow: hidden;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    border: 0.01rem solid #27262c;
}

.question .question-content ul li.active {
    border-color: #dd4425;
    max-height: 5rem;
}

.question .question-content ul li i {
    display: inline-block;
    position: absolute;
    top: .25rem;
    right: .3rem;
    width: .3rem;
    height: .3rem;
    min-width: .1rem; 
    max-width: .3rem;
    max-height: .3rem;
}

.question .question-content ul li i div {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.6s cubic-bezier(.4,0,0,1) 0.2s;
    width: .15rem;
    height: .15rem;
    transform: translate3d(-75%,-50%,0) rotate(45deg);
    -webkit-transform: translate3d(-75%,-50%,0) rotate(45deg);
    -moz-transform: translate3d(-75%,-50%,0) rotate(45deg);
    -ms-transform: translate3d(-75%,-50%,0) rotate(45deg);
    -o-transform: translate3d(-75%,-50%,0) rotate(45deg);
}

.question .question-content ul li i span {
    background: #df4425;
    position: absolute;
}
.question .question-content ul li i span:nth-of-type(odd) {
    width: .02rem;
    top: 0;
    bottom: 0;
}
.question .question-content ul li i span:nth-of-type(even) {
    height: .02rem;
    left: 0;
    right: 0;
}
.question .question-content ul li i span:nth-of-type(1) {
    right: 0;
    transform-origin: bottom;
    transition: transform 0.3s cubic-bezier(.1,.5,.2,1) 0.4s;
}
.question .question-content ul li i span:nth-of-type(2) {
    bottom: 0;
    transform-origin: left;
    transition: transform 0.15s linear 0.3s; 
}
.question .question-content ul li i span:nth-of-type(3) {
    left: 0;
    transform-origin: bottom;
    transform: scale3d(1,0,1);
    transition: transform 0.15s linear 0.3s;
}
.question .question-content ul li i span:nth-of-type(4) {
    top: 0;
    transform-origin: left;
    transform: scale3d(0,1,1);
    transition: transform 0.2s cubic-bezier(.69,0,.94,1); 
}
.question .question-content ul li.active div {
    transform: translate3d(-25%,-50%,0) rotate(45deg);
    -webkit-transform: translate3d(-25%,-50%,0) rotate(45deg);
    -moz-transform: translate3d(-25%,-50%,0) rotate(45deg);
    -ms-transform: translate3d(-25%,-50%,0) rotate(45deg);
    -o-transform: translate3d(-25%,-50%,0) rotate(45deg);
}
.question .question-content ul li.active i span:nth-of-type(1) {
    transform-origin: top;
    transform: scale3d(1,0,1);
    transition: transform 0.15s linear 0.3s;
}
.question .question-content ul li.active i span:nth-of-type(2) {
    transform-origin: right;
    transform: scale3d(0,1,1);
    transition: transform 0.2s cubic-bezier(.69,0,.94,1);
}
.question .question-content ul li.active i span:nth-of-type(3) {
    transform-origin: top;
    transform: scale3d(1,1,1);
    transition: transform 0.3s cubic-bezier(.1,.5,.2,1) 0.4s;
}
.question .question-content ul li.active i span:nth-of-type(4) {
    transform-origin: right;
    transform: scale3d(1,1,1);
    transition: transform 0.15s linear 0.3s;
}
.question .question-content ul li p {
    font-size: .3rem;
    color: #fff;
}
.question .question-content ul li p:first-of-type {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height: 1.2;
}
.question .question-content ul li.active p:first-of-type {
    white-space: initial;
}

.question .question-content ul li.active p:first-of-type,
.question .question-content ul li p:first-of-type span {
    color: #df4425;
}
.question .question-content ul li p:last-of-type {
    font-size: .28rem;
    margin-top: .3rem;
    line-height: .5rem;
    display: none;
}
.question .question-content ul li.active p:last-of-type {
    display: block;
}
.b6 {
    /* margin-top: .87rem; */
    height: 2.6rem;
    background: url(/images/about/b6_bg.jpg) no-repeat center;
    background-size: contain;
    padding: .33rem 0 .57rem;
    box-sizing: border-box;
    text-align: center;
}
.b6 span {
    font-size: .3rem;
    color: #fff;
    margin-bottom: .7rem;
    display: block;
}

.b6 a {
    width: 2rem;
    height: .7rem;
    border-radius: .04rem;
    -webkit-border-radius: .04rem;
    -moz-border-radius: .04rem;
    -ms-border-radius: .04rem;
    -o-border-radius: .04rem;
    border: 1px solid #fff;
    font-size: .26rem;
    line-height: .7rem;
    display: inline-block;
}
.b6 a.download-a {
    color: #fff;
}
.b6 a.register-a {
    color: #191818;
    background-color: #fff;
    margin-left: .56rem;
}